scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/centralthai
        create path (nt:unstructured) /content/dam/centralthai/jcr:content
        set properties on /content/dam/centralthai/jcr:content
        set cq:conf{String} to /conf/centralthai
        set jcr:title{String} to \"centralthai\"
        end
        "
]
